@model IEnumerable<FItnessTrack.Models.Order>

@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" style="color:azure">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th class="text-lg-right">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td class="text-lg-right">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>

                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.City)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
